body {
    background-color: lightgray;
}

main {
    margin: 5%;
}

.gemHunter {
    right: 30px;
    position: absolute;
}

.col {
    /*margin-left: 20px;*/
}

.table {
    background-color: black;
    border: 2px solid turquoise;
    color: white;
}

.homeButton {
    height: 150px;
    width: 300px;
    box-shadow: 10px 10px 5px turquoise;
    font-size: 3em;
}