body {
    background-color: lightgray;
}

main {
    margin: 5%;
}

.gemHunter {
    right: 30px;
    position: absolute;
}

.col {
    margin-top: 20px;
}

.table {
    background-color: black;
    border: 2px solid turquoise;
    color: white;
}

.homeButton {
    height: 150px;
    width: 300px;
    
    font-size: 1.25em;
    color: aliceblue;
    background-color: darkslategray;
}

.homeButton:hover {
    box-shadow: 0 4px 8px 0 turquoise, 0 6px 20px 0 turquoise;
}

.clientList_P {
    font-size: 20px;
    border-left: 2px turquoise;
    border-right: 2px turquoise;
}

.turqHeader {
    color: darkslategray;
}

